useDynLib( parser )

export( parser )
export( grammar.symbols)
export( nlines )
export( count.chars )
export( getChilds ) 

importFrom( utils, data )
importFrom( Rcpp, populate, Module, loadRcppModules )
importClassesFrom( Rcpp, "Module" )
importMethodsFrom( Rcpp, "formals<-" )

