S3method(plot,parser)
export(count.chars)
export(getChilds)
export(getTokens)
export(nlines)
export(parser)
export(plot.parser)
importClassesFrom(Rcpp,Module)
importFrom(Rcpp,Module)
importFrom(Rcpp,loadRcppModules)
importFrom(Rcpp,populate)
importFrom(utils,data)
importMethodsFrom(Rcpp,"formals<-")
useDynLib(parser)
